<% @bookmarks.each do |bookmark| %>
<li><a href= <%= bookmark.url %>> <%= bookmark.title %></a>

<form action="/bookmark/<%=bookmark.id%>" method="post">
  <input type="submit" value="Delete" id="Delete<%=bookmark.title%>">Delete
  <input type="hidden" name="_method" value="delete">
</form>

<form action="/bookmark/<%=bookmark.id%>" method="post">
  <input type= "text" name= title>
  <input type= "text" name= url>
  <input type="submit" value="Update" id="Update<%=bookmark.title%>">Delete
  <input type="hidden" name="_method" value="put">
</form>

</li> 
<% end %>

<br>


